.Body{
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    width:auto;
    height:auto;
    height:90vh;
}

.InputUrl{
     font-weight: 450;
    background-color:ghostwhite;
    padding:30px;
    font-size:16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 7px;
}  

.title{
    font-size:25px;
    font-weight:600;
}

.desc{
    font-size:18px;
    font-weight:480;
}

.divResponse{
    display: flex;
    justify-content: center;
}

.divDashed{
    border: dashed;
    padding:0 10px;
    display: flex;
    align-items: center;
    border-radius:4px;
    margin-bottom:16px;
    margin-top:5px;
    cursor:pointer;
}
.divDashed:hover{
    transform:scale(1.03)
}

.imgCopy{
    width:25px;
    /* height:50%; */
}

.response{
    padding:8px 10px;
    text-align-last: center;
}